:root {
  --light-clr: #fff;
  --light-clr-2: #bed2c9;
  --light-clr-3: #e1e7dd;
  --dark-clr: #2e2e2e;
  --font-clr: #fff;
  --font-sec-clr: rgb(104, 255, 72);
  --body-bg-clr: #659dbd;
  --bs-nav-link-color: #fff;
  /* --second-bg-image:  */
  /* --title-font: "Bebas Neue", cursive;
  --body-font: "Poppins", sans-serif; */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  /* font-size: 1.4rem;
  line-height: 1.5; */
  background-color: var(--body-bg-clr);
  color: var(--body-font-clr);
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Components */
.title {
  background-image: linear-gradient(to top left, #20fd4d 0%, #91ffc1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.3rem;
  font-weight: 700;
}

/* Navbar */
.navbar-nav {
  --bs-nav-link-color: var(--font-clr);
  --bs-nav-link-hover-color: var(--font-sec-clr);
}

.navbar-brand {
  letter-spacing: 5px;
  background-image: linear-gradient(to top left, #20fd4d 0%, #91ffc1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 2rem;
}

/* About */
.about__image {
  width: 424px;
  height: 290px;
  /* background: url(../images/zaba.jpg) center; */
  /* background-size: cover; */
  border: 33px solid;
  border-image: linear-gradient(to left, #20fd4d 0%, #91ffc1 100%);
  border-image-slice: 1;
  border-image-repeat: repeat;
}

.about__brief-description {
  color: #fff;
  font-weight: 600;
  text-align: justify;
  line-height: 1.3rem;
}

.about__brief-title {
  border-bottom: 10px solid transparent;
  border-image: linear-gradient(to left, #20fd4d 0%, #91ffc1 100%);
  border-image-slice: 1;
  letter-spacing: 4px;
}

.about__information-title {
  display: inline-block;
  color: var(--font-clr);
  font-weight: 600;
  margin-inline: 3px;
}

.about__information i {
  font-size: 3.4em;
  background-image: linear-gradient(to top left, #20fd4d 0%, #91ffc1 100%);
  -webkit-background-clip: text;
  color: transparent;
}

<<<<<<< HEAD
.about__information-item > * {
  vertical-align: middle;
}

/* Media */
@media (min-width: 1200px) {
  .about__brief-title {
    font-size: 4rem;
  }

  .about__information i {
    font-size: 3.8em;
  }
}
=======
.products__content p {
  font-size: 0.9rem;
}
>>>>>>> 73a393e0f8bf14592c00fe03c96da0669e0dd1d3
